*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

.container{
  padding: 30px;
}

h1{
  color: #ff0055;
  margin-bottom: 20px;
}

.score{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

#result{
  margin-bottom: 20px;
  color: #ccc;
} 

.buttons button{
  margin: 10px;
  padding: 12px 20px;

  border: none;
  border-radius: 8px;

  background: #1c1c1c;
  color: white;

  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover{
  background: #ff0055;
}